@model IEnumerable<Common.Models.Notification>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Notification List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.FundEntity.Name)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.FundEntity.CurrentValue)
        </td>
        <th>
            @Html.DisplayNameFor(model => model.ThresholdValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Days)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AutoReset)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsEnabled)
        </th>
		<th>
			@Html.DisplayNameFor(model => model.UserProfile.Email)
		</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FundEntity.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FundEntity.CurrentValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThresholdValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Days)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AutoReset)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsEnabled)
        </td>
		<td>
			@Html.DisplayFor(modelItem => item.UserProfile.Email)
		</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.NotificationId}) |
            @Html.ActionLink("Details", "Details", new { id = item.NotificationId }) |
            @Html.ActionLink("Delete", "Delete", new {id=item.NotificationId }) |
            @Html.ActionLink("Enable/Disable", "Toggle", new { id = item.NotificationId })
        </td>
    </tr>
}

</table>
