@model Common.Models.UserTransaction

@{
	ViewBag.Title = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@*3.2.1.3.1 Users will be able to input and save how much money they own of each stock or mutual fund. ‘i.e. my funds*@
@*3.2.1.4.1 Visitors and Users will be able to calculate what their earning would have been if they bought and sold at specific times.*@
<h2>Add a Transaction</h2>


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.UserId)
		<div class="form-group">
			@Html.LabelFor(model => model.FundEntityId, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownList("FundEntityId", null, htmlAttributes: new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.FundEntityId, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Date, new { htmlAttributes = new { autocomplete = "off", @class = "form-control", @Value = DateTime.Today.ToShortDateString() } })
				@Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	@Styles.Render("~/Content/jquery-ui.css")
	@Scripts.Render("~/bundles/jqueryui")
}
