@model FundPortfolio.Controllers.FundListsViewModel
@using Common.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
	var aggregateFunds = Model.AggregateFunds;
	var userTransactions = Model.UserTransactions;
}

<h2>Current Assets</h2>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(af => Model.AggregateFunds.FirstOrDefault().Name)
		</th>
		<th>			
			@Html.DisplayNameFor(af => Model.AggregateFunds.FirstOrDefault().Units)
		</th>
		<th>			
			@Html.DisplayNameFor(af => Model.AggregateFunds.FirstOrDefault().Value)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model.AggregateFunds)
	{
		<tr>
			<td>
				@Html.DisplayFor(aggregateFundsItem => item.Name)
			</td>
			<td>
				@Html.DisplayFor(aggregateFundsItem => item.Units)
			</td>
			<td>
				@Html.DisplayFor(aggregateFundsItem => item.Value)
			</td>
		</tr>
	}

</table>



<h2>History</h2>
<p>
	@Html.ActionLink("Add Transaction", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(ut => Model.UserTransactions.FirstOrDefault().FundEntity.name)
        </th>
        <th>
            @Html.DisplayNameFor(ut => Model.UserTransactions.FirstOrDefault().Date)
        </th>
        <th>
            @Html.DisplayNameFor(ut => Model.UserTransactions.FirstOrDefault().Value)
        </th>
        <th></th>
    </tr>

@foreach (var item in userTransactions)
{
    <tr>
        <td>
            @Html.DisplayFor(userTransactionsItem => item.FundEntity.name)
        </td>
        <td>
            @Html.DisplayFor(userTransactionsItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(userTransactionsItem => item.Value)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserTransactionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserTransactionId })
        </td>
    </tr>
}

</table>
