@model FundPortfolio.ViewModels.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<h1 class="page-header">@ViewBag.Title.</h1>
<div class="indent-left">
    <p class="message-success">@ViewBag.StatusMessage</p>
    <p>You're logged in as <strong>@User.Identity.Name</strong>.</p>
</div>

    @if (ViewBag.HasLocalPassword)
    {
        @Html.Partial("_ChangePasswordPartial")
    }
    else
    {
        @Html.Partial("_SetPasswordPartial")
    }

<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")
    <h3>Add an external login:</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
