@model FundPortfolio.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<div class="section hcenter htwo">
        <h2>@ViewBag.Title.</h2>
    <div class="hdivider"></div>

    <p class="message-success">@ViewBag.StatusMessage</p>
    <p>You're logged in as <strong>@User.Identity.Name</strong>.</p>
    @if (ViewBag.HasLocalPassword)
    {
        @Html.Partial("_ChangePasswordPartial")
    }
    else
    {
        @Html.Partial("_SetPasswordPartial")
    }
    <div class="hdivider"></div>

    <section id="externalLogins">
        @Html.Action("RemoveExternalLogins")
        <h3>Add an external login:</h3>
        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
    </section>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
