@using FundPortfolio.ViewModels
@model FundPortfolio.ViewModels.RegisterModel

@{
    ViewBag.Title = "Register";
}

<h1 class="page-header">Create a new account</h1>
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Register" style="margin-bottom: 30px;"/>
    </fieldset>
}

<br>
<div class="col-md-4">
	<section id="socialLoginForm">
		@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
	</section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
