﻿@{

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Fund Tracker - @ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/bootstrap-dashboard.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("FundTracker", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "navbar-brand" })
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-right search-form">
                    <input type="text" class="form-control" placeholder="Search Funds...">
                </form>
                <ul class="nav navbar-nav navbar-right">
                    @{ if (Request.IsAuthenticated) //if logged in
                     {
                        <li>@Html.ActionLink("Welcome: " + User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })</li>
                        <li>
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                            }
                        </li>
                     }
                     else
                     {
                        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                     }
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right sidebar-nav-options">
                    <li>@Html.ActionLink("Funds", "Index", "Home")</li>
                    <li>@Html.ActionLink("Reporting", "Index", "Home")</li>
                    <li>@Html.ActionLink("Portfolio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Notifications", "Index", "Home")</li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li>@Html.ActionLink("Funds", "Index", "Home")</li>
                    <li>@Html.ActionLink("Reporting", "Index", "Home")</li>
                    <li>@Html.ActionLink("Portfolio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Notifications", "Index", "Home")</li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div id="body">
                    @RenderSection("featured", required: false)
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>