@{
    
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Fund Tracker - @ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div id="header-upper">
            <div class="left"><a href="~/Views/Home/Index.cshtml"><img class="logo" src="~/Images/FundTrackerLogo.png"></a></div>

            @{ if (Request.IsAuthenticated) //if logged in
                {
                <div class="login-bubble right">
                    Welcome: @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })
                    <a class="vertical-divider"></a>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                    }
                </div>
                }
                else
                {
                <div class="login-bubble right">
                    @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    <a class="vertical-divider"></a>
                    @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
                </div>
                }
            }
        </div>
        <div id="header-lower">
            <div class="nav-options">
                <div class="nav-option left"><a href="index.html">Funds</a></div>
                <div class="nav-option left"><a href="index.html">Reporting</a></div>
                <div class="nav-option left"><a href="index.html">Portfolio</a></div>
                <div class="nav-option left"><a href="index.html">Notifications</a></div>
                <div class="nav-option left" style="display:none"><a href="index.html">Home</a></div>
                <div class="search right">
                    <input class="vcenter" name="search-box" type="text" placeholder="Search..." style="border: none; outline: none;">
                    <input class="vcenter" name="search-button" type="image" src="~/Images/button_search.png">
                </div>
            </div>
        </div>
    </header>

    <div id="body">
        @RenderSection("featured", required: false)
            @RenderBody()
    </div>
    @*<footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
            </div>
        </div>
    </footer>*@
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
