@model IEnumerable<Common.Models.FundEntity>
@{
    ViewBag.Title = "Create Report";
}

@section scripts {
    @Styles.Render("~/Content/jquery-ui.css")
    @Scripts.Render("~/bundles/jqueryui")
}

<h1 class="page-header">@ViewBag.Title</h1>


@using (Html.BeginForm("report", "fundEntities", FormMethod.Post, new { @class = "indent-left" }))
{
    <fieldset>
        <ol>
            <li>
                <label>Funds:</label>
                <div class="checkbox-container">
                    @foreach (var item in Model)
                    {
                        <input type="checkbox" name="fund" value="@item.id">@item.name<br />
                    }
                </div>
            </li>
            <li>
                <label>Start Date:</label>
                <input type="text" name="start" />
            </li>
            <li>
                <label>End Date:</label>
                <input type="text" name="end" />
            </li>
            <li>
                <label>Create:</label>
                <div class="indent-left">
                    <input type="checkbox" name="graphOn" checked> Graph (Max funds: 5)<br />
                    <br />

                    <label class="graph-options">Graph Display Type:</label>
                    <div class="indent-left graph-options">
                        <input type="radio" name="graphDisplay" value="VALUE_GRAPH" checked> Fund Values<br />
                        <input type="radio" name="graphDisplay" value="CHANGE_GRAPH"> Change in Fund Values<br />
                    </div>
                 </div>
            </li>
        </ol>
        <input type="hidden" name="fundIds"/>
        <input type="hidden" name="graph" />
        <p class="validation">

        </p>
        <input type="submit" value="Create Report" />
    </fieldset>
}


<script>
  $(function() {
      $('input[name="start"]').datepicker();
      $('input[name="end"]').datepicker();
      showHideGraphType($('input[name="graphOn"]')[0]);
  });

  $('input[name="graphOn"]').on('click', function () {
      showHideGraphType(this);
  });

  function showHideGraphType(graph) {
      if (graph.checked) {
          $('.graph-options').show();
      } else {
          $('.graph-options').hide();
      }
  }

  $('input[type="submit"]').on('click', function () {
      var passed = true;
      var $checked = $('input[name="fund"]:checked')

      /* Do validations */
      var $validation = $('p.validation');
      $validation.empty();

      // Ensure at least one fund is selected
      if ($checked.length < 1) {
          $validation.append("*Please select at least 1 fund.<br>");
          passed = false;
      }

      // Check graph limitation
      if ($('input[name="graphOn"]').prop('checked') && $checked.length > 5) {
          $validation.append("*Please select 5 or less funds if you wish to create a graph.<br>");
          passed = false;
      }

      // check dates non-blank and validity
      if ($('input[name="start"]').val() == "" || $('input[name="end"]').val() == "") {
          $validation.append("*Please enter both a Start and End Date.<br>");
          passed = false;
      } else if ($('input[name="start"]').val() > $('input[name="end"]').val()) {
          $validation.append("*Invalid Start and End Date.  The End Date must occur after the Start Date.<br>");
          passed = false;
      }

      // Do not actually submit if we didn't pass
      if (passed == false) {
          return false;
      }

      /* gather selected fund ids for submission */
      var out = "";
      for (var i = 0; i < $checked.length; i++) {
          out += $checked[i].value + ",";
      }
      out = out.substring(0, out.length - 1);
      $('input[name="fundIds"]').val(out);

      /* Set hidden graph field */
      if ($('input[name="graphOn"]:checked').length == 0) {
          out = "NO_GRAPH";
      } else {
          out = $('input[name="graphDisplay"]:checked').val();
      }
      $('input[name="graph"]').val(out);

      return true;
  })
</script>

